{% extends "general/layout.html" %}


{% block head_title %}Bienvenido al InstaCon {% endblock  %}

{% block page_content %}
    <div class="container">
        {% include '_includes/_messages.html' %}

        <h1>Pagina principal</h1>
        <p>Bienvenido</p>
        <section>
            <h2>Ultimas Publicaciones</h2>

            <div class ="row">
               {% for post in last_posts  %}
                 <div class="col-12 col-sm-65 col-md-4">    
                     {% include '_includes/posts/_post.html' %}
                 </div>
                {% endfor %}
            </div>
        </section>
    </div>
{% endblock  %}