{% extends "general/layout.html" %}
{% load crispy_forms_tags %}


{% block head_title %}Bienvenido al InstaCon {% endblock  %}

{% block page_content %}
    <div class="container">
        {% include '_includes/_messages.html' %}

        <h1>Perfil</h1>
        <p>Biografia: {{ profile.bio|default_if_none:"Sin Rellenar" }}</p>
        <p>Fecha de Nacimiento {{ profile.birth_date|default_if_none:"Sin Rellenar" }}</p>
        <p>
            {% if profile.profile_picture %}
                <img width="100" src="{{ profile.profile_picture.url }}" alt="">
            {% else %}
                No dispone de Imagen de Perfil
            {% endif %}
        </p>
        <p>Seguidores: {{ profile.following.count }}</p>


        <p>Seguidos {{ profile.followers.count }}</p>
        {% if profile.user != request.user %}
            {% if profile not in request.user.profile.follower_set.all %}
                <p>No sigues este perfil</p>
                <p>
                    <form method="post" action="{% url 'follow_profile' profile.pk %}">
                        {% csrf_token %}
                        <input type="hidden" name="profile_pk" value="{{ profile.pk }}"> 
                        <button type="submit">Seguir</button>
                    </form>
                </p>
            {% endif %}
        {% endif %}

        {% if profile.user == request.user %}
            <a href="{% url 'profile_update' profile.pk %}">Editar Perfil</a>
        {% endif %}


        <section>
            <h2>Publicaciones</h2>
            <div class ="row">
                {% for post in profile.user.posts.all %}
                  <div class="col-12 col-sm-65 col-md-4">    
                      {% include '_includes/posts/_post.html' %}
                       <hr class="hr" />
                  </div>
                 {% endfor %}
            </div>
        </section>
        
    </div>
{% endblock  %}