{% extends "general/layout.html" %}


{% block head_title %}Bienvenido al InstaCon {% endblock  %}

{% block page_content %}
    <div class="container">
        {% include '_includes/_messages.html' %}

        <h1>Mi perfil</h1>
        <p>Biografia: {{ profile.bio|default_if_none:"Sin Rellenar" }}</p>
        <p>Fecha de Nacimiento {{ profile.birth_date|default_if_none:"Sin Rellenar" }}</p>
        <p>
            {% if profile.profile_picture %}
                <img src="{{ profile.profile_picture }}" alt="">
            {% else %}
                No dispone de Imagen de Perfil
            {% endif %}
        </p>
        <p>Seguidores: {{ profile.following.count }}</p>
    </div>
{% endblock  %}